<section class="profile-page">
    <div class="profile-detail">
      <img src="<%= restaurant.picture %>" alt="pic of resto">
      <div class="input-group">
        <fieldset class="star-rating">
            <fieldset class="star-rating">
                <% for( let index = 0; index < restaurant.avgRating; index++ ) { %>
                    <input type="radio" id="star<%= 5 - index %>" name="rating" value="<%= 5 - index %>" disabled />
                    <label for="star<%= 5 - index %>"><span class="star">&#9733;</span></label>
                <% } %>
            </fieldset>
      </div>
      <p class="profile-description"><%= restaurant.description %></p>
      <!-- Add the Rate Us button below the profile description -->
      <% if (user) { %>
        <a class="rate-us-button" href="/reviews/<%= restaurant._id %>" style="text-decoration: none;">Rate Us!</a>
      <% } else { %>
        <a class="rate-us-button" href="/login" style="text-decoration: none;">Log In</a>
    <% } %>
    
    </div>
        <div class="profile-reviews">
            <div class="profile-name-row">
                <span class="profile-name"><h1><%= restaurant.restaurantName %></h1></span>
              </div>
            <% if (reviews.length < 1) { %>
             <p>There are no reviews yet. Be the first to review!</p>
            <% } %>
            <% for( let i = 0; i < reviews.length; i++ ) { %>
            
            <div class="review">
              <img src="<%= reviewsWithUser[i].user.displayPhotoUrl %>" alt="Review 1">
              <a href="/profile/<%= reviewsWithUser[i].user._id %>" style="text-decoration: none; color: black;"><h4><%= reviewsWithUser[i].user.displayName %></h4></a>
              <div class="input-group">
                <fieldset class="star-rating">
                    <% for( let index = 0; index < reviews[i].starRating; index++ ) { %>
                        <input type="radio" id="star<%= 5 - index %>" name="rating" value="<%= index %>" disabled />
                        <label for="star<%= 5 - index %>"><span class="star">&#9733;</span></label>
                    <% } %>
                </fieldset>
            </div>
              
              <p><%= reviews[i].review %> </p>

            <% } %>
        </div>
            
    
  </section>